<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mt-2">Daftar Kontak</h2>
      <button onclick="window.location.href = '/contact/add' " class="btn btn-warning my-2">Tambah data baru</button>
      <% if (msg.length !== 0) { %>
      <div class="alert alert-success" role="alert"><%= msg %></div>
      <% } %>
      <table class="table table-striped mt-2">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">No HP</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% contacts.forEach((e, i) => { %>
          <tr>
            <th scope="row"><%=i+1 %></th>
            <td><%= e.nama %></td>
            <td><%= e.nohp %></td>
            <td><a href="contact/<%= e.nama %>" class="btn btn-success badge rounded-pill">Detail</a></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% if (contacts.length === 0) { %>
      <div class="alert alert-danger mt-3 fw-semibold" role="alert">Data kontak kosong <a onclick="window.location.reload()" href="#" class="alert-link fw-normal">refresh halaman</a></div>
      <% } %>
    </div>
  </div>
</div>
